* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  background: #333;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background: #222;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4), 5px 0 5px rgba(0, 0, 0, 0.4);
}

header {
  width: 75%;
  padding: 0 0.25em;
  background-color: rgba(4, 191, 144, 0.841);
  color: rgb(249, 240, 255);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4), 2px 0 4px rgba(0, 0, 0, 0.4),
    0 2px 4px rgba(0, 0, 0, 0.4), -2px 0 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.todo-list {
  background: rgba(4, 191, 144, 0.841);
  border-radius: 5px;
  padding: 5px;
  max-width: 400px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4), 2px 0 4px rgba(0, 0, 0, 0.4),
    0 2px 4px rgba(0, 0, 0, 0.4), -2px 0 4px rgba(0, 0, 0, 0.4);
}

.todo {
  background: rgba(200, 241, 231, 0.841);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
  box-shadow: -1px 0 1px rgb(207, 250, 236), 1px 0 1px rgb(207, 250, 236);
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.35em;
  font-size: 24px;
  flex-grow: 1;
  text-align: center;
  box-shadow: -1px 0 1px rgb(207, 250, 236), 1px 0 1px rgb(207, 250, 236);
}

input:focus,
input:hover {
  color: black;
  background-color: rgb(207, 250, 236);
  outline: none;
}

.material-symbols-outlined {
  cursor: pointer;
}

.material-symbols-outlined:hover {
  color: grey;
}
